<h2 class="bienvenida">Bienvenido, {{ nombreUsuario }}</h2>

<section class="hero">
  <h1>Aprende a Programar con <span class="marca">DAWLINGO</span></h1>
  <p>Domina los lenguajes más demandados del mundo tech.</p>
  <a routerLink="/home/cursos" class="cta-button">Ver Cursos</a>
</section>

<section class="cursos">
  <h2>Nuestros Cursos Destacados</h2>
  <div class="card-container">
    <div class="card">
      <h3>JavaScript desde cero</h3>
      <p>Aprende a crear sitios interactivos y dinámicos.</p>
    </div>
    <div class="card">
      <h3>Python para Todos</h3>
      <p>Ideal para análisis de datos, IA y automatización.</p>
    </div>
    <div class="card">
      <h3>HTML & CSS Pro</h3>
      <p>Diseña páginas web atractivas y responsivas.</p>
    </div>
    <div class="card">
      <h3>Java</h3>
      <p>
        Crea aplicaciones con uno de los lenguajes más potentes del mercado.
      </p>
    </div>
  </div>
</section>
