<h2>Bienvenido, Alberto</h2>
<section class="hero">
    <h1>Aprende a Programar con DAWLINGO</h1>
    <p>Domina los lenguajes más demandados del mundo tech.</p>
    <a routerLink="/home/cursos" class="cta-button">Ver Cursos</a>
  </section>

  <section class="cursos">
    <h2>Nuestros Cursos Destacados</h2>
    <div class="card-container">
      <div class="card">
        <h3>JavaScript desde cero</h3>
        <p>Aprende a crear sitios interactivos y dinámicos.</p>
      </div>
      <div class="card">
        <h3>Python para Todos</h3>
        <p>Ideal para análisis de datos, IA y automatización.</p>
      </div>
      <div class="card">
        <h3>HTML & CSS Pro</h3>
        <p>Diseña páginas web atractivas y responsivas.</p>
      </div>
      <div class="card">
        <h3>Java</h3>
        <p>Aprende a crear aplicaciones en Java, uno de los lenguajes mas demandados hoy dia.</p>
      </div>
    </div>
  </section>
