<div class="main">
  <div class="container">
   <form (ngSubmit)="Aceptar()" #registroForm="ngForm">
  <div class="info">
    <p class="label">Nombre:</p>
    <input type="text" class="value" required name="nombre" [(ngModel)]="nombre" />
  </div>

  <div class="info">
    <p class="label">Contraseña:</p>
    <input type="password" class="value" required name="contrasena" [(ngModel)]="contrasena" />
  </div>

  <div class="info">
    <p class="label">Correo:</p>
    <input type="email" class="value" required name="email" [(ngModel)]="email" />
  </div>

  <div class="info">
    <p class="label">Rol (Usuario por defecto):</p>
    <select class="value" required name="rol" [(ngModel)]="rol">
      <option [value]="1">Usuario</option>
      <option [value]="2">Administrador</option>
    </select>
  </div>

  <button type="submit">Registrate</button>
  <div *ngIf="!correcto">
    <p style="color:red">*Todos los campos son obligatorios</p>
  </div>
</form>

  </div>
</div>
