<div style="display: flex; justify-content: space-between; align-items: center">
  <h2>{{ nombreUsuario }}</h2>
</div>
<div *ngIf="usu && niveles.length > 0; else cargando">
  <div *ngFor="let nivel of niveles">
    <div *ngIf="(usu.nivel_id ?? 0) >= (nivel.id ?? 0); else desbloqueados">
      <button
        class="nivel-btn"
        [class.disabled]="false"
        [disabled]="false"
        (click)="seleccionarNivel(nivel)"
      >
        {{ nivel.numeroNivel }}. {{ nivel.nombre }}
      </button>
    </div>
      <ng-template #desbloqueados>
        <button
          class="nivel-btn"
          [class.disabled]="true"
          [disabled]="true"
          (click)="seleccionarNivel(nivel)"
        >
          {{ nivel.numeroNivel }}. {{ nivel.nombre }}
        </button>
      </ng-template>
  </div>  
</div>  

<ng-template #cargando>
  <p>Cargando niveles...</p>
</ng-template>
