<div class="contenedor-principal">
  <h5 class="intro-texto">
    ¡Hola, {{ nombreUsuario }}! Aquí puedes ver los niveles que has desbloqueado
    y los que aún están bloqueados. Haz clic en un nivel disponible para
    comenzar a jugar y avanzar.
  </h5>

  <section
    *ngIf="usu && niveles.length > 0; else cargando"
    class="niveles-container"
  >
    <div *ngFor="let nivel of niveles" class="nivel-item">
      <button
        class="nivel-btn"
        [class.disabled]="(usu.nivel_id ?? 0) < (nivel.id ?? 0)"
        [disabled]="(usu.nivel_id ?? 0) < (nivel.id ?? 0)"
        (click)="seleccionarNivel(nivel)"
      >
        <div class="nivel-texto">
          <span class="nivel-numero">{{ nivel.numeroNivel }}.</span>
          {{ nivel.nombre }}
        </div>
        <span class="icon">
          <ng-container
            *ngIf="(usu.nivel_id ?? 0) >= (nivel.id ?? 0); else bloqueadoIcono"
          >
          </ng-container>
          <ng-template #bloqueadoIcono> </ng-template>
        </span>
      </button>
    </div>
  </section>

  <ng-template #cargando>
    <p class="cargando-texto">Cargando niveles...</p>
  </ng-template>
</div>
