<div style="display: flex; justify-content: space-between; align-items: center">
  <h2>Niveles del curso: {{ cursoNombre }}</h2>
  <h2>{{ nombreUsuario }}</h2>
</div>

<div *ngIf="niveles.length > 0; else cargando">
  <button
    *ngFor="let nivel of niveles"
    class="nivel-btn"
    [class.disabled]="nivel.valido !== 1"
    [disabled]="nivel.valido !== 1"
    (click)="seleccionarNivel(nivel)"
  >
    {{ nivel.numeroNivel }}. {{ nivel.nombre }}
  </button>
</div>

<ng-template #cargando>
  <p>Cargando niveles...</p>
</ng-template>
