.imagenes{
    width: 200px;
    height: 200px;
}
.info{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navegacion{
    display: flex;
    justify-content: space-around;
}
.navegacion div{
    margin:60px
}
button{
    background-color: #028bad;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    
}
#contenido{
    width: 30%;
    
}
#contenido p{
    margin: 40px 40px 40px 0px
}
#contenido u{
    color: #028bad
}