<div *ngFor="let c of cursos">
  <div *ngIf="c.id == id" class="info">
    <div id="foto">
      <img src="{{ c.imagen }}" class="imagenes" />
    </div>
    <div id="contenido">
      <h1>
        <u>{{ c.nombre }}</u>
      </h1>
      <p><u>Descripcion :</u> {{ c.larga }}</p>
      <p><u>Profesor que imparte el curso:</u> {{ c.profesor }}</p>
      <p><u>Dificultad:</u> {{ c.dificultad }}</p>
      <p><u>Niveles:</u> {{ c.niveles }}</p>
      <div *ngIf="c.id != usu?.curso_id; else boton">
        <button class="inscribirse" (click)="inscribirse(c)">
          Empezar Curso
        </button>
      </div>
      <ng-template #boton>
        <button class="inscribirse" (click)="inscribirse(c)">
          Reanudar Curso
        </button>
      </ng-template>
    </div>
  </div>
</div>

<div class="navegacion">
  <button
    [disabled]="id <= 1"
    routerLink="/home/cursos/detalles/{{ id - 1 }}"
    title="Curso Anterior"
  >
    ← Anterior
  </button>

  <div>
    <h3>
      <u>{{ id }}</u>
    </h3>
  </div>

  <button
    [disabled]="id >= cursos.length"
    routerLink="/home/cursos/detalles/{{ id + 1 }}"
    title="Siguiente Curso"
  >
    Siguiente →
  </button>
</div>
