<div class="dropdown">
  <div class="boton">
    <button>MENU</button>
  </div>
  <div class="dropdown-content" *ngIf="rol == 'Admin'; else usu">
    <a href="/home" class="hiper">Inicio</a>
    <a href="/home/mi-cuenta" class="hiper">Mi Cuenta</a>
    <a href="/home/mis-cursos" class="hiper">Mis Cursos</a>
    <a href="/home/cursos" class="hiper">Cursos disponibles</a>
    <a href="#" class="hiper">Ranking</a>
    <a href="/home/tablas-info" class="hiper">Informacion usuarios</a>
    <a href="/home/sobre-nosotros" class="hiper">Sobre nosotros</a>
    <a href="#" class="hiper">Fundadores</a>
  </div>
  <ng-template #usu>
    <a href="/home" class="hiper">Inicio</a>
    <a href="/home/mi-cuenta" class="hiper">Mi Cuenta</a>
    <a href="/home/mis-cursos" class="hiper">Mis Cursos</a>
    <a href="/home/cursos" class="hiper">Cursos disponibles</a>
    <a href="#" class="hiper">Ranking</a>
    <a href="/home/sobre-nosotros" class="hiper">Sobre nosotros</a>
    <a href="#" class="hiper">Fundadores</a>
  </ng-template>
</div>
