<!-- <div class="cuerpo">
    <a href="" class="hiper">Mi Cuenta</a>
    <a href="" class="hiper">Mis Cursos</a>
    <a href="" class="hiper">Cursos disponibles</a>
    <a href="" class="hiper">Ranking</a>
    <a href="" class="hiper">Sobre nosotros</a>
    <a href="" class="hiper">Fundadores</a>
    <a href="" class="hiper">Preguntas frecuentes</a>
</div> -->
<div class="dropdown">
    <div class="boton"><button>MENU</button></div>
    <div class="dropdown-content">
        <a href="/home" class="hiper">Inicio</a>
        <a href="" class="hiper">Mi Cuenta</a>
        <a href="" class="hiper">Mis Cursos</a>
        <a href="/home/cursos" class="hiper">Cursos disponibles</a>
        <a href="" class="hiper">Ranking</a>
        <a href="" class="hiper">Sobre nosotros</a>
        <a href="" class="hiper">Fundadores</a>
        <a href="" class="hiper">Preguntas frecuentes</a>
    </div>
  </div>